body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 30px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
}

input, button {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}
